<div class="main">

  <div class="front-card">
    <div class="left">
      <div class="logo">
        <p><img src="assets/images/telegram-logo.png"></p>
      </div>
    </div>
    <div class="right">
      {{outlet}}
      <div class="post">
        <p><img src="assets/images/postmark.png"></p>
      </div>
    </div>
      <div class="clearboth"></div>

  </div>
</div>
